<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sobit_light">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import sobit_light urdf file -->
    <xacro:include filename="$(find sobit_light_description)/robots/sobit_light_robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="sobit_light.ros2_control.xacro" />


    <xacro:sobit_light_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
