<?xml version="1.0"?>
<!-- OpenManipulator X1000 (ROS Control: Transmission) -->
<robot name="open_manipulator_x1000"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionPosition" params="name">
    <transmission name="${name}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_act">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionEffort" params="name">
    <transmission name="${name}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_act">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>


  <!-- Transmission 1: Shoulder -->
  <xacro:SimpleTransmissionPosition name="omx1_arm1" />

  <!-- Transmission 2: Upper Arm -->
  <xacro:SimpleTransmissionPosition name="omx1_arm2" />

  <!-- Transmission 3: Lower Arm -->
  <xacro:SimpleTransmissionPosition name="omx1_arm3" />

  <!-- Transmission 4: Forearm Upper -->
  <xacro:SimpleTransmissionPosition name="omx1_arm4" />

  <!-- Transmission 5: Forearm Lower -->
  <xacro:SimpleTransmissionPosition name="omx1_arm5" />

  <!-- Transmission 6: Wrist (Gripper Base) -->
  <xacro:SimpleTransmissionPosition name="omx1_arm6" />

  <!-- Transmission 7: Gripper Finger Left -->
  <xacro:SimpleTransmissionEffort name="omx1_gripper_l_finger" />

  <!-- Transmission 8: Gripper Finger Right -->
  <xacro:SimpleTransmissionEffort name="omx1_gripper_r_finger" />

</robot>
