<?xml version="1.0" encoding="UTF-8" ?>
<!-- OpenManipulator X1000 (ROS Control: Transmission) -->
<robot name="arm_transmission" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="arm_transmission" params="prefix">

    <position_joint_transmission joint="${prefix}_arm1" reduction="1" />
    <position_joint_transmission joint="${prefix}_arm2" reduction="1" />
    <position_joint_transmission joint="${prefix}_arm3" reduction="1" />
    <position_joint_transmission joint="${prefix}_arm4" reduction="1" />
    <position_joint_transmission joint="${prefix}_arm5" reduction="1" />
    <position_joint_transmission joint="${prefix}_arm6" reduction="1" />

  </xacro:macro>
</robot>
